@model PFSC.Models.FactoryAdminDashboard.DashboardModel
@{
    Layout = "_Layout";
}
<link href="~/Content/Styles/factoryDahsboard/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Styles/factoryDahsboard/perfect-scrollbar.css" rel="stylesheet" />
@*<link href="~/Content/Styles/factoryDahsboard/morris.css" rel="stylesheet" />*@
<link href="~/Content/Styles/factoryDahsboard/c3.min.css" rel="stylesheet" />
<link href="~/Content/Styles/factoryDahsboard/style.css" rel="stylesheet" />
<link href="~/Content/Styles/factoryDahsboard/dashboard1.css" rel="stylesheet" />
<link href="~/Content/Styles/factoryDahsboard/default.css" rel="stylesheet" />
<link href="~/Content/Styles/factoryDahsboard/custom.css" rel="stylesheet" />


@*<div class="fix-header fix-sidebar card-no-border">*@
    @Html.Partial("Loader")

<div id="main-wrapper" style="margin-top: 50px;">
    @Html.Partial("Header", Model.DashboardUser)

    @Html.Partial("LeftSidebar")
    <div class="page-wrapper">
        <div id="maindDashboardContainer">
            @Html.Partial("AdminSummary")
        </div>
        @Html.Partial("Footer")
    </div>
    @Html.Partial("Dialog")
    @*</div>*@

    <script src="~/Scripts/factoryAdminDashboard/libs/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/bootstrap.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/waves.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/sidebarmenu.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/custom.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/raphael-min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/morris.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/d3.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/c3.min.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/libs/dashboard1.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/pages/navigation/navigation.js"></script>
    <script src="~/Scripts/factoryAdminDashboard/pages/dropzone.js"></script>

</div>