<aside class="left-sidebar" style="position: fixed;">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" data-action="@Url.Action("AdminSummary", "FactoryAdminDashboard")" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Головна</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" data-action="@Url.Action("Profile", "FactoryAdminDashboard")" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Профіль</span></a>
                </li>
                <li>
                    @*<a class="waves-effect waves-dark" data-action="@Url.Action("MainTable", "FactoryAdminDashboard")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Устаткування</span></a>*@
                </li>
                @*<li>
                    <a class="waves-effect waves-dark" href="icon-fontawesome.html" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu">Icons</span></a>
                </li>*@
                <li>
                    <a class="waves-effect waves-dark" data-action="@Url.Action("Map", "FactoryAdminDashboard")" aria-expanded="false"><i class="fa fa-globe"></i><span class="hide-menu">Карта</span></a>
                </li>
                @*<li>
                    <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false"><i class="fa fa-bookmark-o"></i><span class="hide-menu">Blank</span></a>
                </li>*@
                <li>
                    <a class="waves-effect waves-dark" data-action="@Url.Action("Media", "FactoryAdminDashboard")" aria-expanded="false"><i class="fa fa-laptop"></i><span class="hide-menu">Медіа</span></a>
                </li>
            </ul>
            @*<div class="text-center m-t-30">
                <a href="https://wrappixel.com/templates/adminwrap/" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>
            </div>*@
        </nav>
    </div>
</aside>
